.RegionCard {
    position: relative;
    width:300px;
    height:400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 6px solid rgba(255, 255, 255, 0.28);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.45);
    border-radius: 8px;
}

/* No space between RegionCard and :hover means whole entire container otherwise only the children*/
.RegionCard:hover{
    transition: transform .2s;
    transform-origin: center;
    transform: scale(1.1);
    cursor: pointer;
}

.Code {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.9) !important;
}

/* absolute position is with reference to the closest ancestor meaning the thing its wrapped in and its with respect to those top bottom left and right limits*/
.Logo {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding: .5px;
}

.Logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}