.TeamCard {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 6px solid rgba(240, 210, 140, 0.70);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.45), 0 0 18px rgba(0, 216, 255, 0.25); /* Second one is drawn on top of the first one*/
    border-radius: 8px;
    width:200px;
    height:200px;
    z-index: 2;
    /* Smooth Transition of colors*/
    background: linear-gradient(135deg,
        rgba(15, 15, 35, 0.95) 0%,      /* Dark navy base */
        rgba(25, 10, 40, 0.95) 30%,     /* Purple tint */
        rgba(10, 20, 45, 0.95) 70%,     /* Deep blue */
        rgba(5, 5, 20, 1) 100%          /* Black fade */
    );
}

.TeamCard:hover {
    transition: transform .2s;
    transform-origin: center;
    transform: scale(1.1);
    cursor:pointer;
}

.TeamCardLogo {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding: 10px;
}

.TeamCardLogo img{
    width: 100%;
    height: 100%;
    object-fit: contain;  
}
